{{> metabase/email/_header }}
  <div style="text-align: center;">
    <div style="padding-bottom: 1em;">
      <h2 style="font-weight: normal; color: #4C545B; line-height: 2rem;">{{invitorName}} wants you to join them on Foundry</h2>
    </div>
    <div style="max-width: 450px; margin-left: auto; margin-right: auto; line-height: 1.2rem; text-align: center;">
      <p>Foundry is a simple and powerful analytics tool which lets <b>anyone</b> learn and <b>make decisions</b> from their company's data.</p>
      <p>No technical knowledge required!</p>
       <p>Your Softheon Foundry email: {{loginEmail}}</p>
    </div>
    <div style="padding: 1em 0 1em 0; text-align: cneter;">
      <a style="display: inline-block; box-sizing: border-box; text-decoration: none; font-size: 1.063rem; padding: 0.8rem 2.25rem; background: #FBFCFD; border: 1px solid #ddd; color: #444; cursor: pointer; text-decoration: none; font-weight: bold; border-radius: 4px; background-color: #4990E2; border-color: #4990E2; color: #fff;" href="{{joinUrl}}">Join now</a>
    </div>
  </div>
{{> metabase/email/_footer }}
