{{> metabase/email/_header}}
  <div style="text-align: center">
    <p>Your reports are now available now.</p>
    <p style="padding-top: 2em; font-size: small;">Please check attachments for more details</p>
  </div>
{{> metabase/email/_footer_pulse}}
